.btn-orange {
    background-color: #fd5121;
    border-color: #fd5121;
    color: #fff;
}
.btn-orange:hover {
    background-color: #e6481d; /* darker shade for hover */
    border-color: #e6481d;
    color: #fff;
}
.btn-outline-orange {
  color: #fd7e14 !important;
  border-color: #fd7e14 !important;
  background-color: transparent;
}
.btn-outline-orange:focus {
  color: #fff !important;
  background-color: #fd7e14 !important;
  border-color: #fd7e14 !important;
}
.btn-outline-orange.active {
  color: #fff !important;
  background-color: #e36414 !important;
  border-color: #e36414 !important;
}
.btn-outline-orange.disabled {
  color: #fd7e14 !important;
  background-color: transparent !important;
  border-color: #fd7e14 !important;
  opacity: .65;
}
.btn-green {
    background-color: #1ac742; /* darker green */
    border-color: #1ac742;
    color: #fff;
}
.btn-green:hover {
    background-color: #169b34; /* even darker on hover */
    border-color: #169b34;
    color: #fff;
}
a.forgot-link {
    color: #5121fd;
    text-decoration: none;
}
a.forgot-link:hover {
    color: #3e19c5; /* darker purple on hover */
    text-decoration: underline;
}
a.register-link {
    color: #5121fd;
    text-decoration: none;
}
a.register-link:hover {
    color: #3e19c5; /* darker purple on hover */
    text-decoration: underline;
}
a.login-link {
    color: #5121fd;
    text-decoration: none;
}
a.login-link:hover {
    color: #3e19c5; /* darker purple on hover */
    text-decoration: underline;
}
/* Change checkbox color when checked */
.form-check-input:checked {
    background-color: #5121fd;
    border-color: #5121fd;
}
.follower-card {
    transition: transform 0.2s;
}

.follower-card:hover {
    transform: scale(1.05);
}

.follower-avatar {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border: 2px solid #ddd;
}

.follower-username {
    font-weight: 500;
    margin-top: 5px;
    font-size: 0.85rem;
    color: #212529;
    text-decoration: none;
    display: block;
}

[data-bs-theme="dark"] .follower-username {
    color: #eee;
}