# Enable Rewrite Engine
RewriteEngine On

# Don’t rewrite if the request is for an existing file or directory
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Send everything else to index.php
RewriteRule ^ index.php [QSA,L]
